
<% include ./partials/boilerplate.ejs %>


<div id="aboutContainer">
<div id="aboutDiv"
<h2>Eating healthy has never been easier!</h2>
<br></br>


<p style="color: black">Healthy-eating involves months -- if not years -- of research, knowledge, and meticulously reading labels of every food item that you buy.
Looking for something that's sugar-free? Do you want to start a Keto diet, but don't know where to begin? Curious to try Paleo out but you don't even know what the word even means? Healthy Helper is a virtual food label that categorizes your favorite items into different dietry concerns,
so you'll never have to read another food label again.
<br></br>

Currently, in beta-testing, healthy helper is available across Trader Joe's nationwide, you can search for the following diets:
<br></br>
Organic,
<br></br>
Paleo,
<br></br>
Keto,
<br></br>
Gluten-Free,
<br></br>
Vegan,
<br></br>
GMO,
<br></br>

Take control of your diet, today!
</p>
</div>
</div>




<% include ./partials/footer.ejs %>
